* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  color: white;
}

body {
  width: 100svw;
  top: 0;
  position: fixed;
  background: #0c0c20;
}

main {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 36px 76px -16px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 30px;
  max-width: 800px;
  min-width: 400px;
  margin: 90px auto;
  border-radius: 30px;
  position: relative;
}

.departure-wrapper {
  min-height: 30px;
  max-width: 100%;
  overflow: hidden;
  transition: 0.4s;
}

.blur {
  width: 400px;
  height: 200px;
  position: fixed;
  background: conic-gradient(from 23.12deg at 50% 50%,
      #5200ff 0deg,
      rgba(20, 0, 255) 75deg,
      #0075ff 183.75deg,
      rgba(9, 112, 255, 0.6) 285deg,
      #5200ff 360deg);
  filter: blur(121px) brightness(160%) saturate(1.4);
  z-index: -1;
  pointer-events: none;
}

.flex {
  display: flex;
  align-items: center;
}

h1 {
  font-size: clamp(40px, 5vw, 50px);
  font-weight: 700;
}

select {
  padding: 10px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: fit-content;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s;
}

select:not([disabled]):hover {
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  translate: 0px -1px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

select[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.train-departure {
  display: flex;
  align-items: center;
  margin: 4px 0;
  max-width: 100%;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 20px;
  animation: load 0.4s both var(--i);
}

* {
  margin: 0;
}

h2 {
  opacity: 0.8;
  font-weight: 600;
}

h3 {
  font-weight: 500;
  opacity: 0.7;
  font-size: 24px;
  margin: 0 4px;
}

.platforms {
  min-width: 50px;
  text-align: center;
}

p {
  opacity: 0.5;
  font-weight: 300;
}

.left,
.right {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
}

h2 {
  opacity: 0.8;
  font-weight: 600;
}

h3 {
  font-weight: 500;
  opacity: 0.7;
  font-size: 24px;
  margin: 0 4px;
}

.platforms {
  min-width: 50px;
  text-align: center;
}

p {
  opacity: 0.5;
  font-weight: 300;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.loader {
  border: 3px solid #94000000;
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  right: 33px;
  top: 38px;
  transition: 0.3s;
  opacity: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  animation: spin 0.5s cubic-bezier(.74, .33, .36, .72) infinite;
}

body.loading .loader,
.loader.error {
  opacity: 1
}

.loader.error {
  border: 0 !important;
  animation: 0;
  top: 45px;
  width: fit-content;
  height: fit-content;
}

.loader.error::after {
  content: "Error :(";
  white-space: nowrap;
  color: red;
  text-shadow: 0 0 30px red;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {

  from,
  20% {
    translate: 0 3px;
    opacity: 0;
  }
}

@media screen and (max-width: 500px) {
  .right {
    display: block;
  }

  .right p {
    display: inline-block;
  }

  .right h3.scheduled {
    text-align: right;
  }

  .right h3.platforms {
    display: inline-block;
  }

  .train-departure {
    padding: 13px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: 0 !important;
    transition: 0s !important;
  }

  .departure-wrapper {
    transition: 0s !important;
  }

  .loading {
    animation: spin 2s linear infinite !important;
  }
}